
%input#proposal_attributes{:type => "hidden", :name => "proposal_attributes", :value => @proposal.raw_data['attributes'][@proposal.barclamp].to_json}
%p
  %label{:for => "proposal_attributes"}= t('.attributes')
  = link_to "Raw", proposal_barclamp_path(:id => @proposal.name, :controller => @proposal.barclamp, :dep_raw => @dep_raw, :attr_raw => true), :style => "float: right;"
  %div.container
    %p
      %label{ :for => :default-tenant }= t('.default-tenant')
      %input#default-tenant{:type => "text", :name => "default-tenant", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["default"]["tenant"], :onchange => "update_value('default/tenant','default-tenant','string')"}
    %p
      %label{ :for => :default-username }= t('.default-username')
      %input#default-username{:type => "text", :name => "default-username", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["default"]["username"], :onchange => "update_value('default/username','default-username', 'string')"}
    %p
      %label{ :for => :default-password }= t('.default-password')
      %input#default-password{:type => "text", :name => "default-username", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["default"]["password"], :onchange => "update_value('default/password','default-password', 'string')"}
    %p
      %label{ :for => :admin-username  }= t('.admin-username')
      %input#admin-username{:type => "text", :name => "admin-username", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["admin"]["username"], :onchange => "update_value('admin/username','admin-username', 'string')"}
    %p
      %label{ :for => :admin-password  }= t('.admin-password')
      %input#admin-password{:type => "text", :name => "admin-password", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["admin"]["password"], :onchange => "update_value('admin/password','admin-password', 'string')"}
    %p
      %labbel{ :for => :admin-token  }= t('.admin-token')
      %input#admin-token{:type => "text", :name => "admin-token", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["admin"]["token"], :onchange => "update_value('admin/token','admin-token','string')"}
    %p
      %label{ :for => :token_e  }= t('.admin-token-expiration')
      %input#token_e{:type => "text", :name => "token_e", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["admin"]["token-expiration"], :onchange => "update_value('admin/token-expiration','token_e','string')"}

