
%input#proposal_attributes{:type => "hidden", :name => "proposal_attributes", :value => @proposal.raw_data['attributes'][@proposal.barclamp].to_json}
%p
  %label{:for => "proposal_attributes"}= t('.attributes')
  = link_to "Raw", proposal_barclamp_path(:id => @proposal.name, :controller => @proposal.barclamp, :dep_raw => @dep_raw, :attr_raw => true), :style => "float: right;"
  %div.container
    %p
      %label{ :for => :username }= t('.username')
      %input#zones{:type => "text", :name => "username", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["dashboard"]["username"], :onchange => "update_value(''dashboard/username', 'username', 'string')"}

      %label{ :for => :tenant }= t('.tenant')
      %input#zones{:type => "text", :name => "tenant", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["dashboard"]["tenant"], :onchange => "update_value(''dashboard/tenant','tenant', 'string')"}

      %label{ :for => :expiration  }= t('.expiration')
      %input#zones{:type => "text", :name => "expiration", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["dashboard"]["expiration"], :onchange => "update_value(''dashboard/expiration','expiration','string')"}

      %label{ :for => :token  }= t('.token')
      %input#zones{:type => "text", :name => "token", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["dashboard"]["token"], :onchange => "update_value('dashboard/long-lived-token','long-lived-token','string')"}

      %label{ :for => :auser  }= t('.auser')
      %input#zones{:type => "text", :name => "auser", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["admin"]["user"], :onchange => "update_value('admin/user','user', 'string')"}

      %label{ :for => :auser  }= t('.apass')
      %input#zones{:type => "text", :name => "apass", :'data-default' => @proposal.raw_data['attributes'][@proposal.barclamp]["admin"]["password"], :onchange => "update_value('admin/password','password', 'string')"}
