- register_javascripts "barclamps/keystone/form"

= attributes_for @proposal do
  .panel-sub
    = header @dep_raw, true

  .panel-body
    = instance_field :database
    = select_field %w(frontend), :collection => :server_frontends_for_keystone
    = select_field %w(signing token_format), :collection => :token_formats_for_keystone

    %fieldset
      %legend
        = t(".default_credentials")

      = string_field %w(default tenant)
      = string_field %w(admin username)
      = string_field %w(admin password)
      = string_field %w(default username)
      = string_field %w(default password)

    %fieldset
      %legend
        = t(".ssl_header")

      = select_field %w(api protocol), :collection => :api_protocols_for_keystone, "data-showit" => "https", "data-showit-direct" => "true", "data-showit-target" => "#ssl_container"

      #ssl_container
        = boolean_field %w(ssl generate_certs)
        = string_field %w(ssl certfile)
        = string_field %w(ssl keyfile)
        = boolean_field %w(ssl insecure)
        = boolean_field %w(ssl cert_required), "data-enabler" => "true", "data-enabler-target" => "#ssl_ca_certs"
        = string_field %w(ssl ca_certs)

    = render "barclamp/git/pfsdeps"
